/*=============================DEFAULT============================*/

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

li {
    list-style: none;
}

body {
    font-family: roboto, sans-serif;
}

a {
    text-decoration: none;
}


/*=============================USEABLE============================*/

.title_section {
    text-align: center;
    margin: 34px auto;
    font-size: 24px;
    color: #222222;
    padding-bottom: 20px;
    border-bottom: 2px solid #eeeeee;
    position: relative;
}

.title_section::after {
    position: absolute;
    width: 80px;
    content: '';
    background-color: #ff5722;
    height: 2px;
    left: calc(50% - 40px);
    bottom: -2px;
}

.social_icons a {
    color: #fff;
}


/*=============================HEADER============================*/

.header {
    background-color: #cc0000;
    color: #fff;
}

.header_top {
    border-bottom: 1px solid #e68080;
}

.header_top .row {
    height: 35px;
}

.jeader_search .input-group-text {
    background-color: #ff2722;
    color: #fff;
}

.header_middle.fixed-top {
    background-color: #ff2722;
}

.header_middle--ext>a {
    background-color: #faa900;
    height: 42px;
    border-radius: 8px;
    width: 155px;
    color: #fff;
}

.ext_content-title {
    font-size: 15px;
}

.ext_content-modify {
    font-size: 12px;
}

.header_bottom {
    height: 55px;
    background-color: #191919;
    text-transform: uppercase;
}

.main_menu--toggle {
    background-color: #fff;
    color: #000;
    line-height: 30px;
}

.main_menu.show {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: #999999;
    display: block;
}

.header_bottom .navbar-expand-lg {
    height: 55px;
}

.header_bottom a {
    color: #fff;
}

.header_bottom .navbar {
    padding: 0;
}

.header_bottom .nav-item {
    width: 150px;
    text-align: center;
}

.catalogue {
    height: 55px;
    width: 312px;
    line-height: 55px;
    text-align: center;
    background-color: #fd4a12;
}

.catalogue .dropdown-menu {
    width: 100%;
    background-color: #fd4a12;
    line-height: 35px;
}

.breadcrumb-item a {
    color: #737373;
}

.breadcrumb-item.active {
    color: #fd4a12;
}


/*==============================BANNER_MAIN===========================*/

.banner_main img {
    height: 405px;
    width: 100%;
}


/*============================SERVICE=============================*/

.service {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
}

.service_item {
    padding: 30px;
}

.service_item--img {
    width: 40px;
}

.service_item--img.longer {
    width: 50px;
}

.service_item--img.smaller {
    width: 36px;
}

.service_detail--title {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}

.service_detail--content {
    color: 888888;
    font-size: 12px;
}


/*============================DEALS=============================*/

.big_deal {
    display: block;
}

.big_deal .nav-link {
    margin-left: 6px;
    margin-right: 6px;
    min-width: 150px;
    background-color: #eeeeee;
    border-radius: 100px;
    color: #222222;
}

.big_deal .nav-link.active {
    background-color: #fd4a12;
    color: #fff;
}

.all_product--hot {
    position: relative;
}

.list_product--hot {
    display: none !important;
}

.list_product--hot.active {
    display: block !important;
}

.product_item {
    position: relative;
}

.product_item:hover {
    box-shadow: 1px 1px 4px #eeeeee;
    transform: scale(110%);
}

.product_image {
    height: 225px;
}

.sale {
    position: absolute;
    top: 10px;
    left: 18px;
    background-color: #ed3f46;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    width: 50px;
}

.product_name {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    height: 45px;
    line-height: 20px;
}

.product_item .price {
    color: #ea2227;
    text-align: center;
    height: 40px;
}


/*============================ADS=============================*/

.ads {
    margin-top: 30px;
}

.ads_img {
    height: 230px;
    width: 100%;
}


/*=============================PRODUCGRID============================*/

.product_section--type2 .row {
    --bs-gutter-x: 0;
}

.funiture_arc--nav {
    position: relative;
    padding-right: 0;
}

.funiture_arc--nav button {
    background-color: transparent;
    color: #101010;
}

.funiture_arc--nav .nav-link.active {
    background-color: #fff;
    border: #fd4a12 1px dashed;
    color: #333333;
}

.title_type--2 {
    text-align: center;
    background-color: #ff5722;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.title_type--2::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ff5722;
}

.funiture_arc--nav {
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 15px;
    background-color: #f7f7f7;
}

.view_all {}

.view_all a {
    color: #101010;
}

.products_opts {
    padding-right: 15px;
    line-height: 40px;
    position: relative;
}

.products_opts a {
    font-size: 15px;
    color: #333333;
}

.toggle_expander {
    color: #666666;
    font-size: 25px;
    position: absolute;
    font-weight: 200;
    right: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product_nav--slide {
    display: none;
}

.product_nav--slide.active {
    display: block;
    animation: ease 1s linear;
}

.products_opts--title {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    color: #474c5f;
    padding-bottom: 7px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f49527;
}

.product_nav--left {
    list-style: disc;
    margin-left: 17px;
}

.filter_icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #ff5722;
    z-index: 50;
    color: #fff;
    display: block;
    line-height: 40px;
    border-radius: 5px;
    position: fixed;
    text-align: center;
    top: 50%;
    right: 0;
}

.close_filter {
    display: none;
    width: 25px;
    height: 25px;
    background-color: #ff5722;
    color: #fff;
    display: block;
    line-height: 25px;
    border-radius: 5px;
    position: sticky;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 999999;
    cursor: pointer;
}

.find-filter {
    margin-top: 15px;
    padding: 8px;
    border: 1px solid #ebebeb;
    padding-bottom: 20px;
}

.find-title {
    font-size: 18px;
    text-transform: uppercase;
}

.title-filter {
    color: #1c1c1c;
    font-size: 17px;
    margin-top: 20px;
    text-transform: uppercase;
    border-top: 1px solid #ebebeb;
    padding-top: 8px;
    padding-bottom: 8px;
}

.checker {
    color: #6f6f6f;
}

.checker input {
    margin-right: 10px;
    filter: grayscale(.7);
}

.find-filter ul {
    padding-left: 0;
}

.find-filter .input-group-text {
    background-color: #f68e2e;
    border-radius: 0;
    color: #fff;
}

.pagination {
    margin-top: 30px;
    justify-content: center;
}

.page-item {
    width: 40px;
    text-align: center;
    margin-right: 10px;
}

.page-item .page-link {
    border-radius: 3px;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #fb3f40;
    border: 1px solid #fb3f40;
}

.products_opts * {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.products_opts .product_grid {
    --bs-gutter-x: 0;
}

.product_grid .product_image {
    height: 205px;
}

.product_grid .card-body {
    padding: 3px;
}

.ads_img--left {
    height: 100%;
}


/*============================NEWS=============================*/

.news_item:hover {
    transform: scale(110%);
    box-shadow: 5px 10px 8px #888888;
}

.news_item {
    border: none;
}

.news_item .card-body {
    padding: 10px 0;
}

.news_item img {
    height: 190px;
}

.new_item--title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    height: 34px;
    line-height: 17px;
    overflow: hidden;
}

.date_create {
    font-size: 13px;
    color: #999999;
}

.news_content {
    font-size: 14px;
    color: #666666;
    height: 84px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 0;
}


/*============================PARTNERS=============================*/

.partners_slide {
    height: 85px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.partner_item {
    height: 85px;
    display: flex;
    align-items: center;
}


/*===========================FOOTER==============================*/

.footer_top {
    background-color: #ff5722;
    line-height: 60px;
    color: #fff;
}

.footer_top input {
    height: 40px;
}

.footer_top .input-group-text {
    width: 55px;
    justify-content: center;
    background-color: #000;
    color: #fff;
}

.reg_title {
    font-size: 18px;
    text-transform: uppercase;
}

.footer_title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main_footer {
    background-image: url("../img/bg_footer.png");
    color: #fff;
    padding: 20px;
}

.main_footer--above {
    padding-bottom: 20px;
    border-bottom: 1px solid #595957;
}

.detail_contact {
    border-left: 1px solid #595957;
    border-right: 1px solid #595957;
}

.social_contact .social_icon--item {
    border: 2px solid #fff;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    line-height: 33px;
}

.footer_des--item {
    font-size: 12px;
    line-height: 27px;
}

.main_footer--middle {
    margin-top: 30px;
}

.list_items {
    padding-left: 15px;
}

.list_items li {
    list-style: circle;
}

.main_footer--title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 27px;
}

.main_footer--bottom .input-group-text {
    background-color: #ff2722;
    color: #fff;
}

.footer_desc {
    padding-left: 40px;
    position: relative;
}

.footer_desc::before {
    content: "";
    border-left: 1px solid #595957;
    position: absolute;
    height: 90%;
    left: 10px;
}


/*=========================================================*/

.copy-right {
    margin-top: 5px;
    border-top: 1px solid #595957;
    padding-top: 25px;
    font-size: 13px;
    font-weight: bold;
}

.copy_right--name {
    margin-left: 15px;
    border-left: 1px solid #595957;
    padding-left: 15px;
}


/*============================RESPOSIVE=============================*/

@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 98%;
    }
    .main_menu--toggle {
        display: none;
    }
}

@media(max-width:1100px) {
    .header_bottom .nav-item {
        width: 140px;
    }
    .ext_content-modify {
        font-size: 11px;
    }
    .banner_main img {
        height: 330px;
    }
    .catalogue {
        width: 250px;
        height: max-content;
    }
    .product_image {
        height: 215px;
    }
    .product_grid .product_image {
        height: 165px;
    }
    .news_item img {
        height: 165px;
    }
    .reg_title {
        font-size: 14px;
    }
}

@media(max-width:991px) {
    .header_middle .row {
        justify-content: space-between;
    }
    .header_bottom {
        height: 0;
    }
    .main_menu .navbar-nav {
        position: fixed;
        right: 95px;
        background-color: #666666;
        border-radius: 10px;
        top: 95px;
    }
    .products_opts {
        display: none
    }
    .close_filter {
        display: block;
    }
    .products_opts.active {
        border: 1px solid #595957;
        border-radius: 10px;
        position: fixed;
        top: 15vh;
        width: 340px;
        display: block;
        right: 0;
        z-index: 10000;
        background-color: #fff;
        padding-right: 0;
        padding-left: 10px;
        height: 80vh;
        overflow-y: scroll;
    }
    .products_opts.active::-webkit-scrollbar {
        width: 5px;
        background-color: #999999;
    }
    .products_opts.active::-webkit-scrollbar-thumb {
        background-color: #f68e2e;
    }
}

@media(max-width:767px) {
    .ads_item {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}